<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="RelatorioVendasSimples">
            <fieldset>
                <legend><b>Relatório de Pedidos por Período</b></legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-6 control-label">Data Inicial</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-6 control-label">Data Final</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="colcol-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
