<table border="" width="100%">
    <tr>
        <td>
            <form method="post" enctype="multipart/form-data"asp-controller="AdminImagens"
                asp-action="UploadFiles">
                <img src="~/images/upload2.png" width="200" height="150"/>

                <div class="form-group">
                    <div class="col-md-10">
                        <p><b>Selecione um ou mais arquivos para enviar: </b></p>
                        <p>(Arquivos com o mesmo nome serão sobrescritos)</p>
                        <input type="file" name="files" multiple class="button btn-outline-primary"/>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Enviar Arquivo(s)" class="button btn-outline-primary"/>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form method="post" enctype="multipart/form-data"asp-controller="AdminImagens"
                asp-action="GetImagens">
                <img src="~/images/visualizar1.jpg" width="200" height="200" />

                <div class="form-group">
                    <div class="col-md-10">
                        <p><strong>Visualizar Imagens na pasta do servidor: </strong></p>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Visualizar Arquivos no servidor" class="button btn-outline-warning" />
                    </div>
                </div>
            </form>
        </td>

    </tr>
</table>
<div class="container">
    @if(ViewData["Deletado"] != null)
    {
        <li>@ViewData["Deletado"]</li>
    }

</div>